/*
 * module/list
 */

.mod-line-list {
  width: 100%;
  li {
    display: table;
    width: 100%;
    padding: 30px 50px;
    border-bottom: dotted 2px #e8e8e8;
    font-size: 17px;
    line-height: 180%;
    .left-block {
      display: table-cell;
      vertical-align: top;
      width: 100px;
      .face-image {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
        img {
          width: 100px;
        }
      }
    }
    .right-block {
      display: table-cell;
      vertical-align: top;
      padding: 10px 0 0 30px;
    }
  }
}
