/*
 * layout/page-top
 */

.ly-page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  a {
    background: rgba(119, 119, 119, 0.8);
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    border-radius: 40px;
    @include transition;
    &:hover {
      background: #c8c8c8;
      background: rgba(200, 200, 200, 0.8);
      text-decoration: none;
      color: #222;
    }
  }
}