/*
 * module/button
 */

.mod-button {
  display: block;
  margin: 35px auto;
  padding: 15px;
  text-align: center;
  background: #78be7d;
  border: 1px solid #78be7d;
  color: #fff;
  width: 360px;
  max-width: 500px;
  position: relative;
  cursor: pointer;
  @include transition;
  &:after {
    content: '>';
    color: #fff;
    position: absolute;
    top: 15px;
    right: 10px;
    @include transition;
  }
  &:hover {
    background: #fff;
    color: #78be7d;
    text-decoration: none;
    &:after {
      color: #78be7d;
    }
  }
  &.is-back {
    background: #bbb;
    border: 1px solid #bbb;
    &:after {
      content: '<';
      left: 10px;
      right: auto;
    }
    &:hover {
      background: #fff;
      color: #bbb;
      &:after {
        color: #bbb;
      }
    }
  }
}
