/*
 * module/input
 */

.mod-input-text,
.mod-select select {
  display: inline-block;
  overflow: hidden;
  width: 180px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  vertical-align: middle;
  padding: 10px 10px;
  position: relative;
  font-size: 16px;
  color: #666;
}

.mod-select {
  position: relative;
  .fa {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #78be7d;
    font-size: 20px;
  }
}
